body{
  min-height:100vh;
  display:grid;
  place-items: center;
  background:var(--blue-100);
}

.multi-step-form {
  display: grid;
  justify-self: center;
  width: min(100%, 37.5rem);
  font-family: var(--ubuntu);
}

.sidebar {
  height: 15rem;
  padding: 2rem;
  background: url("/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
}

.nav-steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  width: 60%;
}

.nav-step {
  display: grid;
  justify-content: center;
  list-style: none;
}

.step-number {
  height: 3rem;
  width: 3rem;
  justify-items: center;
  padding: 0.5rem 1rem;
  font-size: var(--txt-sm);
  font-weight: var(--fw-bold);
  color: var(--white);
  border: 2px solid var(--blue-300);
  border-radius: 50%;
  cursor: pointer;
}

.step-number.active {
  color: var(--blue-950);
  background-color: var(--blue-200);
}

.step-info {
  display: none;
}

.form {
  display: grid;
  gap: 4rem;
}

.steps {
  justify-self: center;
  width: 90%;
  padding: 2.2rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 8px 24px var(--blue-100);
  position: relative;
  top: -5.4rem;
}

.step {
  display: none;
}

.step.active {
  display: grid;
  gap: 2rem;

  align-content: start;
}

.form__title,
.form__subtitle {
  font-size: var(--txt-xl);
  font-weight: var(--fw-bold);
  color: var(--blue-950);
}

.form__description {
  font-size: var(--txt-md);
  font-weight: var(--fw-medium);
  color: var(--grey-500);
  line-height: var(--line-height-md);
}

.form__group {
  display: grid;
  gap: 0.4rem;
}

.form__group label {
  color: var(--blue-950);
}

.form__group input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-500);
}

.form__group input::placeholder {
  font-size: var(--txt-xs);
  font-weight: var(--fw-bold);
  color: var(--grey-500);
}

.form__group input:focus-visible {
  outline: 2px solid var(--purple-600);
  border-color: var(--purple-600);
}

.form__group input:hover {
  border-color: var(--purple-600);
}

.label-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  font-size: var(--txt-xs);
  font-weight: var(--fw-medium);
}

.error-message {
  display: none;
  font-weight: var(--fw-bold);
  color: var(--red-500);
}

.form__group input.input-error {
  border-color: var(--red-500);
}

.form__group input.input-error:focus-visible {
  outline: 2px solid var(--red-500);
  border-color: var(--red-500);
}

.error-message.active {
  display: block;
}

.plans {
  display: grid;
  gap: 0.6rem;
}

.plan {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1.8rem;
  align-items: center;
  padding: 0.8rem 1rem;
  border: 1px solid var(--purple-200);
  border-radius: 0.5rem;
}

.plan:hover {
  border-color: var(--purple-600);
}

.plan input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.plan:has(input[type="radio"]:checked) {
  border-color: var(--purple-600);
  background-color: var(--blue-100);
}

.plan:has(input[type="radio"]:focus-visible) {
  outline: 2px solid var(--purple-600);
}

.plan__info {
  display: grid;
  justify-self: start;
  gap: 0.5rem;
}

.plan__type {
  font-size: var(--txt-sm);
  font-weight: var(--fw-bold);
  color: var(--blue-950);
}

.plan__price {
  font-size: var(--txt-xs);
  font-weight: var(--fw-medium);
  color: var(--grey-500);
}

.plan__bonus {
  /* display: none; */
  font-size: var(--txt-xs);
  font-weight: var(--fw-medium);
  color: var(--blue-950);
}

.billing {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
  font-size: var(--txt-sm);
  font-weight: var(--fw-medium);
  color: var(--grey-500);
  background-color: var(--blue-100);
  border-radius: 0.6rem;
}

.switch {
  display: inline-block;
  width: 45px;
  height: 24px;
  position: relative;
}

.switch input {
  position:absolute;
  opacity:0;
}

.switch input:focus-visible + .slider {
  outline: 3px solid var(--purple-200);
}

.switch input:checked + .slider::before {
  transform: translateX(21px);
}

.slider {
  background-color: var(--blue-950);
  border-radius: 999px;
  position: absolute;
  inset: 0;
}

.slider::before {
    content: "";
    width: 18px;
    height: 18px;
    left: 3px;
    top: 3px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    transition: transform .3s ease;
}

.switch:hover .slider {
  outline: 3px solid var(--purple-200);
}

.addons {
  display: grid;
  gap: 1rem;
}

.addon {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem;
  border: 1.5px solid var(--purple-200);
  border-radius: 0.8rem;
  cursor: pointer;
}

.addon:hover {
  border-color: var(--purple-600);
}

.addon input {
  width: 18px;
  height: 18px;
  accent-color: var(--purple-600);
}

.addon:has(input[type="checkbox"]:checked) {
  border-color: var(--purple-600);
  background-color: var(--blue-100);
}

.addon:has(input[type="checkbox"]:focus-visible) {
  outline: 2px solid var(--purple-600);
}

.addon__info {
  display: grid;
  gap: 0.3rem;
}

.addon__service {
  font-size: var(--txt-sm);
  font-weight: var(--fw-bold);
  color: var(--blue-950);
}

.addon__description {
  font-size: var(--txt-xs);
  font-weight: var(--fw-medium);
  color: var(--grey-500);
}

.addon__price-monthly,
.addon__price-yearly {
  justify-self: end;
  font-size: var(--txt-xs);
  font-weight: var(--fw-medium);
  color: var(--purple-600);
}

.summary__box {
  padding: 2rem;
  background-color: var(--blue-100);
  border-radius: 0.6rem;
}

.summary__box-plan {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.summary__plan {
  display: grid;
  justify-items: start;
  gap: 0.5rem;
}

.summary__plan,
.summary__info-value {
  font-size: var(--txt-sm);
  font-weight: var(--fw-bold);
  color: var(--blue-950);
}

.summary__change {
  font-size: var(--txt-xs);
  color: var(--grey-500);
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.summary__change:hover {
  color: var(--purple-600);
}

.summary__box hr {
  margin-block: 2rem;
}

.summary__addons {
  font-size: var(--txt-xs);
  color: var(--grey-500);
  line-height: 2.5rem;
}

.summary__addon-item {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.summary__addon-value {
  color: var(--blue-950);
}

.summary__total {
  padding-inline: 2rem;
  font-size: var(--txt-sm);
  font-weight: var(--fw-medium);
  color: var(--grey-500);
}

.summary__total-item {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.summary__total-value {
  font-size: var(--txt-md);
  color: var(--purple-600);
}

.form__navigation {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 1.8rem;
  background-color: var(--white);
}

.button {
  align-items: center;
  width: 10rem;
  height: 4rem;
  padding: 0.6rem 1.4rem;
  font-size: var(--txt-sm);
  font-weight: var(--fw-bold);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.button:hover {
  opacity: 0.9;
}

.button--primary {
  display: grid;
  justify-self: end;
  color: var(--blue-50);
  background-color: var(--blue-950);
}

.button--primary:focus-visible {
  outline: 2px solid var(--purple-600);
}

.button--back {
  color: var(--grey-500);
  background-color: transparent;
}

.button--back:hover {
  color: var(--blue-950);
}

.button--back:focus-visible {
  outline: 2px solid var(--blue-300);
}

.button--confirm {
  color: var(--blue-50);
  background-color: var(--purple-600);
}

.button--confirm:focus-visible {
  outline: 2px solid var(--blue-950);
}

.confirmation {
  display: none;
  grid-auto-flow: row;
  gap: 2rem;
  justify-self: center;
  width: 90%;
  padding: 6.7rem 2.2rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 0.8rem;
  position: relative;
  top: -5.4rem;
}

.confirmation.active {
  display: grid;
}

.confirmation__img {
  justify-self: center;
  width: 5rem;
}

.hidden {
  display: none;
}